body {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: #444;
  background-color: ghostwhite;
}

.pop {
  font-weight: 400;
  color: #000;
}

.app__header h1 {
  font-family: 'Racing Sans One', cursive;
  font-size: 1.65em;
  text-align: center;
}

.app__days {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day {
  display: flex;
  margin-bottom: 2em;
  background-color: white;
}

.day__header {
  font-size: 1em;
  color: white;
  background-color: #444;
  padding: 0.5em;
  margin: 0;
  text-align: center;
}

.day__day {
  font-size: 1.6em;
  font-weight: 400;
}

.day__date {
  font-weight: 300;
}

.forecast {
  margin-left: 0.5em;
  padding: 0.5em;
}

.forecast__highlights {
  display: flex;
  align-items: center;
}

.forecast__icon {
  height: 2em;
}

.forecast__summary {
  text-transform: lowercase;
}

.forecast__temperature {
  font-size: 2em;
}
