:root {
  --dark-gray: #313133;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: var(--dark-gray);
  padding: 0.5em;
}

.pop {
  font-weight: 400;
}

.app {
  max-width: 25em;
  margin: 0 auto;
}

.app__loading {
  text-align: center;
}

.app__loading-icon {
  font-size: 3em;
}

.app__error {
  font-weight: 400;
  color: crimson;
}

.app__header {
  position: relative;
}

.app__header h1 {
  font-family: 'Racing Sans One', cursive;
  font-size: 1.65em;
  text-align: center;
}

.app__toolbar {
  position: absolute;
  top: 0.5em;
  right: 0;
}

.app__toolbar-button {
  padding: 0;
  margin: 0;
  border: 0;
  color: #777;
  background-color: transparent;
  font-size: inherit;
}

.app__days {
  display: flex;
  flex-direction: column;
}

.settings {
  margin-bottom: 2em;
}

.action {
  font-family: inherit;
  font-size: 0.75em;
  background-color: dodgerblue;
  color: #fff;
  border: 0;
  border-radius: 0.2em;
  font-weight: 700;
}

.settings__form {
  display: flex;
  justify-content: center;
}

.settings__field {
  margin-right: 1em;
}

.settings label {
  margin-right: 0.5em;
}

.settings select {
  font-family: inherit;
  font-size: inherit;
}

.day {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3em;
}

.day__header {
  font-size: 1em;
  margin: 0 0.5em;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  border-bottom: 1px solid silver;
}

.day__day {
  color: dodgerblue;
}

.day__date {
  font-weight: 300;
  margin-left: 0.5em;
}

.forecast {
  padding: 0.5em;
}

.forecast__highlights {
  display: flex;
  align-items: center;
  font-size: 3em;
}

.forecast__icon {
  margin-left: 0.5em;
  color: dodgerblue;
  font-size: 0.5em;
}

.forecast__summary {
  text-transform: lowercase;
}
